/Aula/Saque_ContaBancaria_Metodos/nbproject/private/
/Aula/Saque_ContaBancaria_Metodos/build/
/Aula/TestandoMetodosEstáticos/nbproject/private/
/Aula/Java/Hora/nbproject/private/
/Aula/Java/Hora/build/
/Aula/Java/Linguagem/nbproject/private/
/Aula/Java/Linguagem/build/
/Aula/Java/Resolution/nbproject/private/
/Aula/Java/Resolution/build/
/Aula/Java/SwingTriângulo/nbproject/private/
/Aula/Java/SwingTriângulo/build/
/Aula/Java/SwingTriângulo/dist/
/Aula/Java/Teste/nbproject/private/
/Aula/Java/Teste/build/
/Aula/Java/CalcTriangulo/nbproject/private/
/Aula/Java/CalcTriangulo/build/
/Aula/Java/CalcTrianguloSwing/nbproject/private/
/Aula/Java/CalculadoraJavaFx/nbproject/private/
/Aula/Java/CalculadoraJavaFx/build/
/Aula/Java/CalculadoraJavaFx/dist/
/Aula/Java/TrabalhandoComImagens/nbproject/private/
/Aula/Java/TrabalhandoComImagens/build/
/Aula/Java/TrabalhandoComImagens/dist/
/Aula/Java/SomaJavaFx/nbproject/private/
/Aula/Java/testandoTiposPrimitivos/nbproject/private/
/Aula/Java/testandoTiposPrimitivos/build/